/* =====================================================================================
                COMMON CSS PART START HERE
==========================================================================================*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;

}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6,a,div,p,li,img,ul,ol{
    margin: 0;
    padding: 0;
}
/* =====================================================================================
                COMMON CSS PART END HERE
==========================================================================================*/

/* =====================================================================================
                VARIABLE CSS PART START HERE
==========================================================================================*/
:root{
    --fontfamily: "Poppins",sans-serif;
    --primarycolor: #fff;
    --secondarycolor: #282938;
    --secondarybtncolor: #FCD980;
    --bgcolor: #1C1E53;
    --varthirdcolor: #2405F2;
    --secondarybgcolor: #F4F6FC;
}

/* =====================================================================================
                VARIABLE CSS PART END HERE
==========================================================================================*/
/* =====================================================================================
                NAVVAR CSS PART START HERE
==========================================================================================*/
#navbar_part{
    background-color: #1C1E53;
    padding: 32px 0px;
}
#navbar_part .custom_navbar a{
    color: #BBBBCB;
    font-family: var(--fontfamily);
    font-size: 16px;
    font-weight: 500;
    margin-right: 30px;
}
#navbar_part .custom_navbar a:hover{
    color: var(--primarycolor);
}
#navbar_part .btn{
    border: none;
    background-color: transparent;
    color: var(--primarycolor);
    border: 2px solid #f4f6fc33;
    padding: 14px 45px;
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
}

#navbar_part .banner_left h1{
    color: var(--primarycolor);
    font-family: var(--fontfamily);
    font-size: 54px;
    font-weight: 600;
    line-height: 70px;
}
#navbar_part .banner_left p{
    color: var(--primarycolor);
    font-family: var(--fontfamily);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    opacity: 0.7; 
}
#navbar_part .view_btn{
    padding: 12px 56px;
    border-radius: 41px;
    background: var(--secondarybtncolor);
    color: var(--secondarycolor);
}
#navbar_part .view_pricing a{
    color: var(--primarycolor);
}
#navbar_part .custom_margin{
    margin-top: 190px;
}
/* =====================================================================================
                NAVBAR CSS PART END HERE
==========================================================================================*/
/* =====================================================================================
                BANNER CSS PART START HERE
==========================================================================================*/
#banner_part .left_side_text{
    margin-top: 150px;
    margin-bottom: 100px;
}
#banner_part .left_side_text h6{
    color: var(--secondarycolor);
    font-family: var(--fontfamily);
    font-size: 18px;
    font-weight: 500;
}
#banner_part .left_side_text h2{
    color: var(--secondarycolor);
    font-family: var(--fontfamily);
    font-size: 54px;
    font-weight: 600;
}
#banner_part .right_side_img{
    margin-top: 125px;
}
#banner_part .right_side_img img{
    border: 5px solid #f4f6fc33;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
#banner_part .left_side_text p{
    color: var(--secondarycolor);
    font-family: var(--fontfamily);
    text-align: justify;
    padding-right: 50px;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;

}
/* =====================================================================================
                BANNER  CSS PART END HERE
==========================================================================================*/


/* =====================================================================================
              GOAL PARTCSS PART START HERE
==========================================================================================*/
#goal_part .goal_up{
    background-color: var(--secondarybgcolor);
}
#goal_part .goal_up .goal_left_text{
    margin-left: 40px;
    margin-top: 40px;
}
#goal_part .goal_up .goal_left_text h6{
    color: var(--secondarycolor);
    font-family: var(--fontfamily);
    font-size: 16px;
    font-weight: 500;
}
#goal_part .goal_up .goal_left_text h2{
    color: var(--secondarycolor);
    font-family: var(--fontfamily);
    font-size: 38px;
    font-weight: 600;
}
#goal_part .goal_up .goal_left_text p{
    color: var(--secondarycolor);
    font-family: var(--fontfamily);
    text-align: justify;
    padding-right: 50px;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
/* =====================================================================================
             GOAL PART CSS PART END HERE
==========================================================================================*/


/* =====================================================================================
             INOVATE PART CSS PART START HERE
==========================================================================================*/
#inovate_part{
    background-color: #EEF4FA;
}   
#inovate_part .left_side_text{
    padding-top: 180px;
}
#inovate_part .left_side_text h6{
    color: var(--secondarycolor);
    font-family: var(--fontfamily);
    font-size: 16px;
    font-weight: 500
}
#inovate_part .left_side_text h2{
    color: var(--secondarycolor);
    font-family: var(--fontfamily);
    font-size: 38px;
    font-weight: 600;
}
#inovate_part .left_side_text p{
    color: var(--secondarycolor);
    font-family: var(--fontfamily);
    text-align: justify;
    padding-right: 50px;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7
}
#inovate_part .right_side_text img{
        margin-top: 125px;
        border: 5px solid var(--primarycolor);
        -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        
 }
/* =====================================================================================
             INOVATE PART CSS PART END HERE
==========================================================================================*/


/* =====================================================================================
                FOOTER PART CSS PART END HERE
==========================================================================================*/
#footer_part{
    padding-top: 100px;
    background-color: var(--bgcolor);
}
#footer_part .footer_left_part img{
    width: 156px;
    height: 38px;
}
#footer_part .footer_left_part p{
    color: var(--primarycolor);
    font-family: var(--fontfamily);
    font-size: 16px;
    font-weight: 500;
    opacity: 0.8;
}
#footer_part .footer_contact_part .left_text h3{
    color: var(--secondarycolor);
    font-family: var(--fontfamily);
    font-size: 18px;
    font-weight: 500;
}
#footer_part .footer_contact_part .left_text p{
    color: var(--secondarycolor);
    font-family: var(--fontfamily);
    font-size: 16px;
    font-weight: 400;
}
#footer_part .footer_contact_part .rigth_text h3{
    color: var(--secondarycolor);
    font-family: var(--fontfamily);
    font-size: 18px;
    font-weight: 500;
}
#footer_part .footer_contact_part .rigth_text p{
    color: var(--secondarycolor);
    font-family: var(--fontfamily);
    font-size: 16px;
    font-weight: 400;
}
#footer_part .footer_right_part h2{
    color: var(--primarycolor);
    font-family: var(--fontfamily);
    font-size: 48px;
    font-weight: 600;
}
#footer_part .footer_right_part p{
    color: var(--secondarybgcolor);
    font-family: var(--fontfamily);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
#footer_part .footer_right_part .icon i{
    margin-right: 20px;
    color: var(--primarycolor);
}
#footer_part .footer_contact_part{
    width: 515px;
    height: 95px;
    margin-top: 90px;
    background-color: var(--secondarybtncolor);
}
/* =====================================================================================
                FOOTER PART CSS PART END HERE
==========================================================================================*/

/* =====================================================================================
                EXTRA FOOTER PART CSS PART START HERE
==========================================================================================*/
#extra_footer_part .copy_part P{
    color: var(--secondarycolor);
    font-family: var(--fontfamily);
    font-size: 16px;
    font-weight: 500;
}
#extra_footer_part .footer_home ul li a {
    color: var(--secondarycolor);
    font-family: var(--fontfamily);
    margin-right: 30px;
    font-size: 16px;
    font-weight: 500; 
}
/* =====================================================================================
                EXTRA FOOTER PART CSS PART END HERE
==========================================================================================*/